<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="/public/css/sidenav.css">
    <link rel="stylesheet" href="/public/css/content.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="height: 100vh;">
    <div class="wrapper">
        <%- include('./partials/sidenav.ejs'); %>

        <div class="main_content"> 
            <div class="info">
                <%- include('./partials/header.ejs'); %>
                <h2>Your Teams</h2>
                <div id="contentWrapper">
                    <div class="form-container">
                        <div class="usersDiv">
                            <ul>
                                <% for(let i=0; i < user.teams.length; i++) { %>
                                    <li>
                                        <i class="fas fa-users fa-2x"></i>
                                        <h3><%= user.teams[i] %> </h3><br>
                                        <div class="buttonsDiv">
                                            <% if (teamsData[i].admin == currentUser.name) { %>
                                                <a href='/teams/details/<%= teamsData[i]._id %>' class="buttonAnchor">Invite Users</a>
                                                <a href='/teams/polls/create/<%= teamsData[i]._id %>/<%= currentUser._id %>' class="buttonAnchor">Create Polls</a>
                                            <% } %>
                                            <a href='/teams/polls/view/<%= teamsData[i]._id %>' class="buttonAnchor">View Polls</a>
                                        </div>
                                        <% if (teamsData[i].admin == currentUser.name) { %>
                                            <strong>Note: </strong> Invite Users and Create Polls Buttons are only visible to team admins(you).
                                        <% } %>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
        </div>
    </div>
    <script src="/public/js/sidenav.js"></script>
</body>
</html>